
@{
    ViewData["Title"] = "Favorites";
}
@model List<Restaurants>
<h1>Favorites</h1>

<table class="table-bordered">
    <tr>
        <th>Restaurants</th>
        <th>Zip Code</th>
        <th>User Rating</th>
        <th>Notes</th>
    </tr>
    @foreach (var favorite in Model)
    {
        <tr>
            <td>@favorite.Name</td>
            <td>@favorite.ZipCode</td>
            <td>
                <form action="../home/EditRestaurant" method="post">
                    <input type="hidden" name="Id" value="@favorite.Id" />
                    <input type="number" name="userRating" value="@favorite.UserRating" min="0" max="5" />
                    <input type="Submit" name="Submit" value="Update" />
                </form>
            </td>
            <td>@favorite.Notes</td>
            <td><a class="btn" href="../Home/RemoveRestaurant?id=@favorite.Id">🗑️</a></td>
        </tr>
    }








</table>